/* Baseline reset */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body{
    background-color: $brand-color;  
    font-family: Arial, Helvetica, sans-serif; 
}

main{
    padding: 10px 0 0 0;  
    line-height: 40px;   
}



header{
    background: $brand-color;

    .logo {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    nav{
    margin: 5px;
    padding: 1px;
    text-align: center;
    background-color:$theme;
    width: 100%;    


         ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden; 
        display: inline-block;
        

        li{
            float: left;
    

             a{
        color: $brand-color; 
        line-height: calc (0.667rem * 1); 
        text-align: center; 
        text-decoration: none;
        margin: 0;
        padding: 1rem;
        width: 100%;
        display: inline-block;   
         

        &:hover {
        background-color: #000000;
        color: $brand-color;
        }
    }
    }
    }
  }   
}

h1{
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 1.25rem;
}

footer p{
    color: $brand-color;
    text-align: center;
    background-color:$theme;
    line-height: calc (0.667rem * 1); 
    text-align: center; 
    text-decoration: none;
    margin: 0;
    padding: 1rem;
    width: 100%;
    display: inline-block;
}
